<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewFieldConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <NewFieldConverter.Properties.Settings>
            <setting name="R1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B0" serializeAs="String">
                <value>0</value>
            </setting>
        </NewFieldConverter.Properties.Settings>
    </userSettings>
</configuration>